*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wholebackground{
    height: 1300px;
    width: 120%;
    background-color: black;
    border: 2px solid black;
}

.navbar{
    height: 56px;
    width: 100%;
    background-color: black;
    display: flex;
    position: fixed;
    top:0;
    z-index: 50;
}

.bar{
    height: 40px;
    width: 40px;
    margin-left: 29px;
    margin-top: 18px;
    background-color: black;
   
}


.barsymbol{
    color: white;
    background-color: black;
    font-size: larger;
    cursor: pointer;
    border: none;
    
    
}

.logodiv{
    height: 56px;
    width: 123px;
    background-color: black;
    display: flex;
}

.logo{
    height: 20px;
    width: 93px;
    padding: 18px 14px 18px 16px;
    color: white;
    padding-left: 0px;
    font-size: x-large;
    padding-top: 15px;
    border: none;
    background-color: black;
    cursor: pointer;
}

.yticon{
    color: red;
    padding: 18px 14px 18px 16px;
    font-size: xx-large;
    padding-top: 12px;
    padding-right: 2px;
    background-color: black;
    border: none;
    cursor: pointer;
}

.super{
    color: grey;
    padding-top: 10px;
    padding-left: 0px;
}

.searchbar{
    height: 56px;
    width: 560px;
    margin-left: 180px;
    background-color: black;
}

.search-button {
    height: 43px;
    width: 559px;
    border: 0.1px solid rgb(128, 128, 128);
    border-radius: 24px;
    border-top-right-radius: 0px;
    border-color: rgba(137, 181, 198, 0.644);
    border-bottom-right-radius: 0px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #007bff0e;
    color: white;
    cursor: pointer;
}


.mglass{
    color: white;
    font-size: larger;
    margin-top: 10px;
    margin-left: 20px;
}

.searchtext{
    height: 30px;
    width: 490px;
    margin-left: 60px;
    margin-top: 10px;
    padding-top: 10px;
    position: fixed;
    top: 8px;
    background-color: black;
    background: none;
    border-color: rgb(0, 183, 255);
    border: 0px;
    color: white;
    font-size: x-large;
}

.searchtext::placeholder{
    font-weight: 70;
    padding-top: 10px;
    margin-top: 10px;
    position: relative;
    top: -5px;
    left: 5px;
}
 
.mgdiv{
    height: 42.5px;
    width : 56px;
    position: relative;
    top: 10px;
    background-color: rgba(128, 128, 128, 0.361);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border: 0.1px solid rgba(137, 181, 198, 0.644);;
    border-color:  rgba(137, 181, 198, 0.644);
}

.mg{
    color: white;
    position: relative;
    top: 12px;
    left: 18px;
    border: none;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.048);
}

.circle{
    height: 7vh;
    width: 3%;
    background-color: rgba(128, 128, 128, 0.406);
    position: relative;
    left: 2%;
    top: 2vh;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
.circle:hover{
    background-color:rgba(128, 128, 128, 0.623) ;
    
    
}

.mp{
    text-align: center;
    position: relative;
    top: 0.5vh;
    color: white;
}

.cp{
    height: 7vh;
    width: 7.3%;
    background-color: rgba(128, 128, 128, 0.361);
    position: relative;
    left: 3%;
    top: 2vh;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    display: inline;
    border: none;
    cursor: pointer;
}
.cp:hover{
    background-color:rgba(128, 128, 128, 0.623) ;
}

.p{
    text-align: left;
    position: relative;
    top: 1.2vh;
    color: white;
    left: 9%;
}

.creat{
    text-align: right;
    position: relative;
    top: -1.5vh;
    color: white;
    left: -30%;
}

.bellicon{
    color: white;
    position: relative;
    left: 4.5%;
    top: 0.3vh;
    font-size: larger;
    background-color: black;
    border: none;
    cursor: pointer;
}



.usericon{
    color: grey;
    position: relative;
    left: 6.5%;
    top:0.3vh ;
    font-size: x-large;
    background-color: black;
    border: none;
    cursor: pointer;
}

.sidebar{
    height: 70vh;
    width: 6%;
    background-color: black;
    margin-top: 35px;
    position: fixed;
    z-index: 40;

}

.home{
    height: 13vh;
    width: 80%;
    background-color: wheat;
    position: relative;
    left: 9%;
    top: 7%;
    border-radius: 20%;
    margin-bottom: 2%;
    border: none;
    background-color: black;
    cursor: pointer;
    
}
.home:hover{
    background-color:rgba(128, 128, 128, 0.623) ;
}

.short{
    height: 13vh;
    width: 80%;
    background-color: wheat;
    position: relative;
    left: 9%;
    top: 7%;
    border-radius: 20%;
    margin-bottom: 2%;
    background-color: black;
    cursor: pointer;
    border: none;
}

.short:hover{
    background-color:rgba(128, 128, 128, 0.623) ;
}


.shorticon{
    color: white;
    font-size: x-large;

}

.shorttext{
    color: white;
    font-size: x-small;
    position: relative;
    top: 1%;

}

.sub{
    height: 13vh;
    width: 80%;
    background-color: wheat;
    position: relative;
    left: 9%;
    top: 7%;
    border-radius: 20%;
    margin-bottom: 2%;
    background-color: black;
    border: none;
    cursor: pointer;
}
.sub:hover{
    background-color:rgba(128, 128, 128, 0.623) ;
}

.subicon{
    color: white;
    font-size: x-large;

}

.subtext{
    color: white;
    font-size: x-small;
    position: relative;
    top: 1%;

}

.you{
    height: 13vh;
    width: 80%;
    background-color: wheat;
    position: relative;
    left: 9%;
    top: 7%;
    border-radius: 20%;
    background-color: black;
    border: none;
    cursor: pointer;
}
.you:hover{
    background-color:rgba(128, 128, 128, 0.623) ;
}
.youicon{
    color: white;
    font-size: x-large;

}
.youtext{
    color: white;
    font-size: x-small;
    position: relative;
    top: 1%;

}

.house{
    color: white;
    position: relative;
    left: 2%;
    top: 4%;
    font-size: x-large;
    color: white;

}

.hometext{
    color: white;
    font-size: x-small;
    justify-self: center;
    position: relative;
    top: 1vh;
    left: 1%;
}

.adds{
    height: 70vh;
    width: 100%;
    background-color: black;
    display: flex;
    

    
    
}

.fp{
    font-size: x-large;
    margin-top: 15vh;
    margin-left: 15vh;
    position: relative;
    left: -10%;
    padding-right: 200px;
    position: absolute;
    left: 3%;
    
}

.infi{
    position: relative;
    top: 47%;
    right: 20%;
    position: absolute;
    top: 33%;
    left: 50%;
}


.textbox{
    height: 20vh;
    width: 20%;
    background-color: black;
    position: relative;
    left: 43%;
    top: 16%;
    padding-top: 4%;
    z-index: 10;

}

.infitext{
    color: white;
    font-weight: bold;
    
}

.spinfitext{
    color: grey;

}

.buynow{
    color: black;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10%;
    cursor: pointer;
    

}
.buynow:hover{
    background-color: white;
    font-weight: bolder;
}

.allvideos{
    height: autovh;
    width: 75%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    padding: 0;
    
}
.allvideos {
    margin-right: 0;
    padding-right: 0;
}
body {
    overflow-x: hidden;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.one{
    height: 57vh;
    width: 32%;
    background-color: black;
    position: relative;
    left: 7.6%;
    cursor: pointer;

}

.one img, .allvideos video{
    width: 90%;
    height: 50vh;
    display: block;
    position: relative;
    left: 3%;
    border-radius: 5%;
    background-size: cover;
}
.one video{
    position: relative;
    top: -50vh;
    left: 7%;
    
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.one:hover video{
    opacity: 1;
    z-index: 1;
    transform: scaleX(2.3);
    height: 50vh;
}

.one:hover img{
    opacity: 0;
}
.monaltext{
    position: relative;
    left: 5%;
    color: white;
    font-size: larger;
    top: -50vh;
}

.second{
    height: 57vh;
    width: 32%;
    background-color: black;
    position: relative;
    left: 7.6%;
    cursor: pointer;
}

.second img, .allvideos video{
    width: 90%;
    height: 50vh;
    display: block;
    position: relative;
    left: 3%;
    border-radius: 5%;
    background-size: cover;
}
.second video{
    position: absolute;
    top: -87.5%;
    left: 7%;
    
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.second:hover video{
    opacity: 1;
    z-index: 1;
    transform: scaleX(2.3);
    height: 50vh;
}

.second:hover img{
    opacity: 0;
}
.ucptext{
    position: relative;
    left: 5%;
    color: white;
    font-size: larger;
    top: -50vh;
}

.third{
    height: 57vh;
    width: 32%;
    background-color: black;
    position: relative;
    left: 7.6%;
    cursor: pointer;
}
.third img, .allvideos video{
    width: 90%;
    height: 50vh;
    display: block;
    position: relative;
    left: 3%;
    border-radius: 5%;
    background-size: cover;
}
.third video{
    position: absolute;
    top: -50vh;
    left: 5%;
    
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.third:hover video{
    opacity: 1;
    z-index: 1;
    transform: scaleX(2.3);
    height: 50vh;
}

.third:hover img{
    opacity: 0;
}
.pctext{
    position: relative;
    left: 5%;
    color: white;
    font-size: larger;
    top: -87%;
}

.fourth{
    height: 57vh;
    width: 32%;
    background-color: black;
    position: relative;
    left: 8%;
    margin-top: 10px;
    cursor: pointer;
}
.fourth img, .allvideos video{
    width: 90%;
    height: 50vh;
    display: block;
    position: relative;
    left: 3%;
    border-radius: 5%;
    background-size: cover;
}
.fourth video{
    position: absolute;
    top: -50vh;
    left: 5%;
    
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.3s ease-i
}

.fourth:hover video{
    opacity: 1;
    z-index: 1;
    transform: scaleX(2.3);
    height: 50vh;
}

.fourth:hover img{
    opacity: 0;
}
.viewtext{
    position: relative;
    left: 5%;
    color: white;
    font-size: larger;
    top: -50vh;
}

.fifth{
    height: 57vh;
    width: 32%;
    background-color: black;
    position: relative;
    left: 8.2%;
    margin-top: 10px;
    cursor: pointer;
}
.fifth img, .allvideos video{
    width: 90%;
    height: 50vh;
    display: block;
    position: relative;
    left: 3%;
    border-radius: 5%;
    background-size: cover;
}
.fifth video{
    position: absolute;
    top: -87.5%;
    left: 8%;
    
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.3s ease-i
}

.fifth:hover video{
    opacity: 1;
    z-index: 1;
    transform: scaleX(2.3);
    height: 50vh;
}

.fifth:hover img{
    opacity: 0;
}
.snookertext{
    position: relative;
    left: 5%;
    color: white;
    font-size: larger;
    top: -87%;
}

.six{
    height: 57vh;
    width: 32%;
    background-color: black;
    position: relative;
    left: 7.5%;
    margin-top: 10px;
    cursor: pointer;
}

.six img, .allvideos video{
    width: 90%;
    height: 50vh;
    display: block;
    position: relative;
    left: 3%;
    border-radius: 5%;
    background-size: cover;
}
.six video{
    position: absolute;
    top: 0;
    left: 5%;
    
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.3s ease-i
}

.six:hover video{
    opacity: 1;
    z-index: 1;
    transform: scaleX(2.3);
    height: 50vh;
}

.six:hover img{
    opacity: 0;
}
.badshahitext{
    position: relative;
    left: 5%;
    color: white;
    font-size: larger;
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    position: relative; 
    bottom: 0;
    width: 100%;
    color: white;
}

.content{
    min-height: 0vh; 
    padding-bottom: 0px; 
}
